.wrap{
    width: 1000px;
    margin: 0 auto;
}
.header{
    background-color:red;
    height: 200px;
}
.logo{
    float: left;
    margin-top: 70px;
    margin-left: 30px;
}
.topmenu{
    float: right;
    margin-top: 70px;
}
.topmenu li{
    float: left;  
    margin-right: 30px;  
}
.topmenu li a{
    color: white;
    text-decoration: none;
}
.main{
    margin-top: 10px;
}
.menu{
    float: left;
    width: 200px;
    background-color: black;
    padding: 10px;
}
.menu p{
    color: white;
}
.content{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: pink;
    width: 600px;
}
.aside{
    float: right;
    width: 160px;
    background-color: blue;
    color: white;
}
.clear{
    clear: both;
}   
.footer{
    margin-top: 10px;
    height: 100px;
    background: gray;
}
