.menu{
    background: wheat;
    display: flex;
    margin: 0 auto;
    width: 600px;
}

.menu li{
    width: 100px;
    border: 1px black solid;
    /* text-align: center; */
}

.menu li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu li a:hover{
   background-color: thistle;
}