.wrap{ 
    display: flex;
    justify-content:space-between;
    width: 1000px;
    margin: 0 auto;
}

.aside{
    padding-left: 30px;
    padding-right: 30px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


